.creation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4em;
    width: 380px;
    border: 1px solid gainsboro;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border: 1px solid #555;
    margin-left: 1em;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #e1ecf4;
    padding: 10px 20px;
    color: #39739d;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

input[type=text] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    background-color: #F2F3F5;
    border: 1px solid #555;
    margin: 1em;
    height: 30px;
}

button {
    width: 350px;
    max-width: 100%;
    background-color: #e1ecf4 !important;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: none;
    color: #39739d;
    margin: 1em;
    height: 40px;
}

p {
    font-size: 18px;
    color: red;
    text-align: center;
}