@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

p {
    font-size: 23px;
    text-align: center;
    color: #7aa7c7;
    margin-top: 5em;
}

.my-publications {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-left: 20em;
    margin-right: 20em;
}

.publication {
    margin: 0.2em;
}

.pub-image {
    display: flex;
    margin: 0;
    width: 230px;
    height: 270px;
}

.pub-image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

video {
    object-fit: fill;
}

.icon{
    position: absolute;
    margin-left: 11.5em;
    margin-top: 1em;
}


.showInfo{
    position: absolute;
    display: flex;
}

.showInfo p {
    font-size: 17px;
    color: white;
    margin-right: 1em;
    font-weight: bold;
    margin: 1em;
}
