<div class="register-form">
    <app-app-logo></app-app-logo>
    <p>{{errorMessage}}</p>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input type="text" name="username" placeholder="Потребителско име" ngModel>
        <input type="text" name="password" placeholder="Парола" ngModel>
        <input type="text" name="repeatPassword" placeholder="Повтори паролата" ngModel>
        <input type="text" name="email" placeholder="Имейл" ngModel>
        <button>Регистрация</button>
    </form>
    <a routerLink="/login">Вече имаш акаунт?</a>
</div>
