<div class="data-view">
    <!-- <app-user-profile-image></app-user-profile-image> -->
    <div class="profile-image">
        <div *ngIf="userData.profileImage === ''" class="noImage">
            <i class="fa fa-picture-o fa-lg" aria-hidden="true" style="color:black"></i>
        </div>
        <img *ngIf="userData.profileImage !== ''"
            src="http://localhost:3000/usersProfileImage/{{userData.profileImage}}" alt="">
    </div>

    <div class="profile-data">
        <div class="user-edit">
            <p>{{userData.username}}</p>
            <div *ngIf="this.logUser._id !== userData._id" id="edit">
                <p *ngIf="!follower && this.logUser._id !== undefined" (click)="follow()">Последване</p>
                <p *ngIf="follower" (click)="unFollow()" style="color: red;">Последван</p>
            </div>
            <a *ngIf="this.logUser._id !== userData._id && this.logUser._id !== undefined" routerLink="message" id="edit">Съобщение</a>
        </div>

        <div class="user-info">
            <a routerLink="publication/{{userData._id}}">
                <p>{{userData.myPublications.length}} публикации</p>
            </a>
            <a routerLink="followers/{{userData._id}}">
                <p>{{userData.followers.length}} последователи</p>
            </a>
            <a routerLink="followed/{{userData._id}}">
                <p>{{userData.followed.length}} последвани</p>
            </a>
        </div>

    </div>
</div>

<router-outlet></router-outlet>

<hr>