<div class="post-details">
    <div *ngIf="postDetails.type == 'image/jpeg'" class="post-image">
        <img src="http://localhost:3000/userPublications/{{postDetails.fileName}}" alt="">
    </div>
    <video *ngIf="postDetails.type === 'video/mp4'" autoplay class="post-image" width="100%" height="auto" controls>
        <source src="http://localhost:3000/userPublications/{{postDetails.fileName}}" type="video/mp4">
    </video>
    <div class="post-data">

        <div class="profile-data">
            <div class="ownerData">
                <div class="profile-image">
                    <div *ngIf="postDetails.ownerImage === ''" class="noImage">
                        <i class="fa fa-picture-o fa-lg" aria-hidden="true" style="color:black"></i>
                    </div>
                    <img *ngIf="postDetails.ownerImage !== ''" src="http://localhost:3000/usersProfileImage/{{postDetails.ownerImage}}" alt="">
                </div>
            </div>

            <p>{{behaviorSubjectEdit.getValue()}}</p>
            <div *ngIf="userId === postDetails.owner" class="btn">
                <button (click)="showEditPost()"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
                <button (click)="deletePost()"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>
        <p id="resMessage">{{resMessage.message}}</p>
        <form *ngIf="showEditArea" id="edit-post-form" #editForm="ngForm" (ngSubmit)="editPost(editForm)">
            <input type="text" placeholder="Редактиране на описание.." name="editText" ngModel>
            <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </form>
        <hr>
        <div class="coments-bar">
           
            <div *ngFor="let coment of behaviorSubjectComents.getValue()" class="coment">
                <div class="user">
                    <img src="http://localhost:3000/usersProfileImage/{{coment.userImage}}" alt="">
                </div>
                <div class="coment">
                    <p>{{coment.coment}}</p>
                </div>
            </div>
            <p *ngIf="!postDetails.comments?.length">Няма коментари..</p>

        </div>
        <hr>

        <div class="post-btn">
            <button *ngIf="postDetails.owner !== user._id" (click)="like()"><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></button>
            <button *ngIf="postDetails.owner !== user._id" (click)="disLike()"><i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></button>
            <button *ngIf="postDetails.owner !== user._id" (click)="coment()"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></button>
            <p>{{behaviorSubjectLike.getValue()}} харесвания</p>
            <p>{{behaviorSubjectDisLike.getValue()}} нехаресвания</p>
        </div>
        
        <hr>
        <p id="messageToUser">{{messageToUser}}</p>
        <div *ngIf="postDetails.owner !== user._id"class="add-coment">
            <form #form="ngForm" (ngSubmit)="sendComent(form)">
                <input type="text" placeholder="Добавяне на коментар.." name=coment ngModel>
                <button id="publicationBtn"><i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>