<div class="post-details">
    <div class="post-image">
        <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
    </div>
    <div class="post-data">

        <div class="profile-data">
            <app-user-profile-image></app-user-profile-image>
            <p>description</p>
            <div class="btn">
                <button (click) = "showEditPost()"><i class="fa fa-pencil fa-lg" aria-hidden="true" ></i></button>
                <button (click) = "deletePost()"><i class="fa fa-trash fa-lg" aria-hidden="true" ></i></button>
            </div>
        </div>
        <p id="resMessage">{{resMessage.message}}</p>
        <form *ngIf="showEditArea" id="edit-post-form" #editForm="ngForm" (ngSubmit)="editPost(editForm)">
            <input type="text" placeholder="Редактиране на описание.." name="editText" ngModel>
            <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </form>
        <hr>
        <div class="coments-bar">
            <div class="coment">
                <div class="user">
                    <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
                </div>
                <div class="coment">
                    <p>adawdaawd</p>
                </div>
            </div>
            <div class="coment">
                <div class="user">
                    <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
                </div>
                <div class="coment">
                    <p>adawdaawd</p>
                </div>
            </div>
            <div class="coment">
                <div class="user">
                    <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
                </div>
                <div class="coment">
                    <p>adawdaawd</p>
                </div>
            </div>
            <div class="coment">
                <div class="user">
                    <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
                </div>
                <div class="coment">
                    <p>adawdaawd</p>
                </div>
            </div>
            <div class="coment">
                <div class="user">
                    <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
                </div>
                <div class="coment">
                    <p>adawdaawd</p>
                </div>
            </div>
            <div class="coment">
                <div class="user">
                    <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
                </div>
                <div class="coment">
                    <p>adawdaawd</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="post-btn">
            <button><i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></button>
            <button><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i></button>
            <p>3453 харесвания</p>
        </div>
        <hr>

        <div class="add-coment">
            <form>
                <input type="text" placeholder="Добавяне на коментар..">
                <button id="publicationBtn"><i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>