<div class="images">
    <div class="user-image">
        <img src="../../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
        <button>Харесване</button>
        <button>Коментар</button>
        <div class="coment">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates placeat sint quaerat enim earum ipsum, esse repudiandae suscipit assumenda nostrum corporis! Possimus nostrum, voluptatibus et quibusdam odio alias quia atque?</p>
        </div>
    </div>
    <video width="auto" height="240" autoplay>
    <source src="http://localhost:3000/userPublications/Sample.mp4" type="video/mp4">
   
  Your browser does not support the video tag.
  </video>
</div>



