<p *ngIf="myPublications.length === 0">Нямате публикации...</p>
<p>{{resMessage.message}}</p>
<div class="my-publications">
    <div *ngFor="let pub of myPublications" class="publication">
        <div class="pub-image">
            <img src="http://localhost:3000/userPublications/{{pub.fileName}}" alt="">
        </div>
        
        <div class="btn">
            
            <button>Редактиране</button>
            <button (click) = "deletePost(pub._id, pub.fileName)">Изтриване</button>
        </div>
    </div>
</div>