<nav>
    <a routerLink="/"><i class="fa fa-home fa-lg"></i>Начало</a>
    <a routerLink="/search"><i class="fa fa-search fa-lg" aria-hidden="true"></i>Търсене</a>
    <a routerLink="/videos"><i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>Видеа</a>
    <a routerLink="/pictures"><i class="fa fa-camera fa-lg" aria-hidden="true"></i>Снимки</a>
    <a *ngIf="!loggedInUser" routerLink="/login"><i class="fa fa-sign-in fa-lg" aria-hidden="true" style="color: #6666ff"></i>Вход</a>
    <a *ngIf="!loggedInUser" routerLink="/register"><i class="fa fa-user-plus fa-lg" aria-hidden="true" style="color: #6666ff"></i>Регистрация</a>
    <a *ngIf="loggedInUser" routerLink="/messages"><i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i>Съобщения</a>
    <a *ngIf="loggedInUser" routerLink="/notification"><i class="fa fa-bell fa-lg" aria-hidden="true"></i>Известия</a>
    <a *ngIf="loggedInUser" routerLink="/creation"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>Създаване</a>
    <a *ngIf="loggedInUser" routerLink="/profile"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Профил</a>
</nav>
