<nav>
    <a routerLink="/"><i class="fa fa-home fa-lg"></i>Начало</a>
    <a routerLink="/search"><i class="fa fa-search fa-lg" aria-hidden="true"></i>Търсене</a>
    <a routerLink="/videos"><i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>Видеа</a>
    <a routerLink="/messages"><i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i>Съобщения</a>
    <a routerLink="/notification"><i class="fa fa-bell fa-lg" aria-hidden="true"></i>Известия</a>
    <a routerLink="/creation"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>Създаване</a>
    <a routerLink="/profile"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Профил</a>
</nav>
