@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav i {
    color: #6abcf6;
    margin-left: 1em;
    margin-right: 0.2em;
}

nav i:hover{
    color: #39739d;
}

nav a{
    text-decoration: none;
    color: #39739d;
    font-size: 14px;
}

nav a:hover{
    color: #39739d;
}