<!-- <p>{{userData.username}}</p>
<p>{{userData.followed.length}}</p>
<p>{{userData.followers.length}}</p>
<p>{{userData.publications.length}}</p> -->

<div class="data-view">
    <div class="profile-image">
        <img src="../../../assets/image/357360533_781266310112576_3719100550210729241_n.jpg" alt="">
    </div>
    <div class="profile-data">
        <div class="user-edit">
            <p>{{userData.username}}</p>
            <a routerLink="edit">Редактиране на профила</a>
            <!-- <a routerLink="nav">Test</a> -->
        </div>

        <div class="user-info">
            <p>{{userData.publications.length}} публикации</p>
            <p>{{userData.followers.length}}последователи</p>
            <p>{{userData.followed.length}} последвани</p>
        </div>

    </div>
</div>

<hr>

<div class="user-publications">
    <div class="publication">
        <img src="http://localhost:3000/test.jpg" alt="">
    </div>
</div>

<router-outlet></router-outlet>