<div class="data-view">
    <app-user-profile-image></app-user-profile-image>
    <div class="profile-data">
        <div class="user-edit">
            <p>{{userData.username}}</p>
            <a routerLink="edit" id="edit">Редактиране на профила</a>
        </div>

        <div class="user-info">
            <a routerLink="publications"><p>{{userData.myPublications.length}} публикации</p></a>
            <a routerLink="#"><p>{{userData.followers.length}} последователи</p></a>
            <a routerLink="#"><p>{{userData.followed.length}} последвани</p></a>
        </div>

    </div>
</div>

<hr>

<router-outlet></router-outlet>