.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC;
    width: 320px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 5em;
}

.login-form form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.login-form button {
    margin-top: 1em;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #0095F6;
    font-size: 11px;
}

.login-form a {
    margin-bottom: 1em;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.login-form form input {
    height: 30px;
    width: 200px;
    margin-top: 1em;
    border: 1px solid #E8E8E8;
    background-color: #FAFAFA;
    outline: none;
    font-size: 11px;
}

p {
    color: red;
    font-size: 14px;
}